window {
    margin: 0px;
    border: 1px solid white;
    background-color: black;
    border-radius: 5px;
}

#input {
    margin: 10px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    color: #f8f8f2;
    background-color: black;
    font-size: 14px;
}

#inner-box {
    margin: 10px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    padding: 5px;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    color: #f8f8f2;
}

#entry:selected {
    background-color: #44475a;
    color: #50fa7b;
    border-radius: 6px;
}

